@model GrupoPrazo_Infra.Entidades.Usuario

@{
    ViewBag.Title = "Dados do Usuário";
}

<h2>@ViewBag.Title</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Permissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id },  new { @class = "btn btn-primary btn-xs" }) |
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-danger btn-xs" })
</p>
